:root{
    --blueDark:#002b82;
    --blue:#3b7398;
    --blueLight:#c0d0e9;
    --salmon:#e3746b;
    --purple:#954980;
    --main-white: #f9f9f9;
    --grayDark:#504f4f;
}

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  


body{
    color: var(--main-white);
}
h1{
    
    font-size: 6rem;
    text-align: center;
    
}

h2{
    font-size: 4.2rem;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: var(--blueDark);
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}
#navbar-list{
    list-style: none;
    display: flex;
}
#navbar-list a{
    font-size: 1.8rem;
    padding: 1rem;
    text-decoration: none;
    display: block;
    color: var(--main-white);
    margin-left: 2rem;
}

.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
    background-color: var(--blue);

}

.welcome-section > p{
    color: var(--salmon);
    font-size: 3rem;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.welcome-section > h1{
    padding: 0;
    margin-bottom: 10px;
}

.projects-section {
    text-align: center;
    padding: 10rem  2rem;
    background-color: var(--blueLight);
   
}

#projects-header{
    max-width: 80%;
    color: var(--grayDark);
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--grayDark);
    padding-top: 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2.5rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.projects-links{
    text-align: center;
    text-decoration: none;
    color:var(--main-white);
    margin: 0px;
    padding: 0px;
    background-color: var(--blue);
}


.project-title {
    font-size: 1.2rem;
}


.projects-image {
    width: 100%;
    margin: 0;
    object-fit: cover;
    filter: brightness(90%);
}

.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--grayDark);
    margin: 0;
    padding: 0 2rem;
    
}

#contact-header{
    margin-top:0;
    padding: 2rem 1rem;
    font-size: 4rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 2rem;
    flex-wrap: wrap;
    margin: 0;
}

.contact-a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    margin: 0 2rem;
    padding: 1rem;
    color: var(--main-white);
}