:root{

    /*Fonts*/
    --ff-primary:'Source Sans Pro', sans-serif;
    --ff-secondary:'Source Code Pro', sans-serif;
    /*Colors*/
    --blue-sapphire: #065d7aff;
    --teal-blue: #2e7e99ff;
    --cg-blue: #0c7fa6ff;
    --cyan-process: #34bfedff;
    --midnight-green-eagle-green: #1d5263ff;
    --warm-black:#2E2E2E;
    --just-white:#fff;
    --black:#000;
    --gray:#b4b4b4;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: var(--ff-primary);
}

/*header*/

header nav{
    width: 100%;
    height: auto;
    min-width: 320px;
    font-size: 1.6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    justify-items: center;
    align-items: center;
}
header::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--gray);
    margin: 0;
    opacity: 0.8;
}
header .nav-logo{
    display: inline-block;
    padding: 15px;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;  
}


header .nav--list{
    list-style: none;
    display: none;
}

.nav-menu {
    overflow: hidden;
    width: 100%;
}
.nav-menu .nav-toggle {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: var(--just-white);
    border: none;
    font-size: 2rem;
}
/*Toggle-nav*/


.nav-menu.responsive .nav--list{
    display: block;
}



.nav-menu a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.6rem;
    background-color: var(--warm-black);
    color: var(--just-white);
}

.nav-menu a:hover {
    background-color: var(--gray);
    color: var(--black);
}

/*header*/

/*Home Section*/

.main-home{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.main-home h1{
    width: 285px;
    text-align: center;
    margin: 15px auto 5px auto;    
    font-size: 4.8rem;
    font-weight: lighter;
    line-height: 4.8rem;
    color: var(--black);
}
.main-home p{
    background-color: var(--cyan-process);
    display: inline-block;
    width: 300px;
    margin: 0 auto 15px auto;
    padding: 15px;
    text-align: center;
    font-family: var(--ff-secondary);
    font-size: 2.7rem;
    font-weight: 500;
    color: var(--midnight-green-eagle-green);
}

.home-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-home img{
    width: 290px;
    height: auto;
    margin: 0 auto 60px auto;
    box-shadow: 7px 6px 16px 4px rgba(89,73,30,0.16);
    border: 0.5px solid var(--gray);
    padding: 5px;
}
/*Home Section*/

/*Services Section*/
.main-services{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: var(--warm-black);
}
.main-services h2{
    width: 290px;
    height: 85px;
    margin: 60px auto 10px auto ;
    color: var(--cyan-process);
    font-size: 6rem;
    text-align: center;
}

.main-services h2::after{
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    background-color: var(--just-white);
    margin: 0.5em auto 1em;
    opacity: 0.8;
}
.services-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
}
.service{
    margin: 15px auto;
    width: 273px;
    padding: 15px;
}

.service--title{
    font-size: 2rem;
    color: var(--just-white);
    font-weight: bold;
    line-height: 2.6rem;
    margin: 10px auto;
}

.service--body{
    font-size: 1.8rem;
    color: var(--gray);
    line-height: 2.4rem;
    font-weight: 300;
}

.main-services a{
    display: inline-block;
    width: 160px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.6rem;
    background-color: var(--cg-blue);
    color: var(--just-white);
    text-align: center;
    text-decoration: none;
    padding: 15px;
    margin: 10px auto 30px;

}

/*Services Section*/

/*About Section*/
.main-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about--title{
    font-size: 6rem;
    font-weight: bold;
    line-height: 4rem;
    width: 100%;
    min-width: 320px;
    color: var(--warm-black);
    margin: 30px auto 15px;

}

.about--title-description{
    background-color: var(--cyan-process);
    display: inline-block;
    width: 300px;
    margin: 15px auto 20px;
    padding: 15px;
    text-align: center;
    font-family: var(--ff-secondary);
    font-size: 2.7rem;
    font-weight: 500;
    color: var(--midnight-green-eagle-green);
}


.main-about .about--img{
    width: 290px;
    height: 360px;
    background-image: url('../assets/img/avatar.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--just-white);
    margin: 0 auto 60px auto;
    box-shadow: 3px 1px 4px 2px rgba(89,73,30,0.16);
    border-radius: 30px;
}

.about--body{
    width: 290px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.4rem;
    color: #303030;
    margin: 0 auto 30px;
}
/*About Section*/

/*My Work Section*/
.main-work{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--warm-black);
}

.main-work .work--title{
    width: 320px;
    font-size: 6rem;
    font-weight: bold;
    line-height: 5rem;
    color: var(--just-white);
    margin: 60px auto 30px;
}

.work--title-description{
    width: 268px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
    color: var(--cyan-process);
    margin: 0 auto 30px;
}

.works-container{
    width: 80%;
    min-width: 270px;
    max-width: 320px;
}

.work-card{
    width: 100%;
    margin: 15px auto;
}

.work-card img{
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center 0;
    border-radius: 5px;
}

.work-card p{
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: lighter;
    text-align: center;
    color: var(--gray);
    margin: 5px auto 30px;
}
/*My Work Section*/


footer{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

footer h2{
    margin: 30px auto;
    font-size: 3rem;
    color: var(--cyan-process);
}

footer .contact-links{
    width: 120px;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 30px;
}

footer .contact-links a{
    text-decoration: none;
    color: var(--blue-sapphire);
}
footer .contact-links a:hover{
    color: var(--cyan-process);
}



